# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**:
```
"Data" "Science" "Mentorship" "Program"
"By" "CampusX"
```
**Output**:
```
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [3]:
print('Data','Science','Mentorship','Program',sep='-',end='-started-')
print('By','CampusX',sep='-')

Data-Science-Mentorship-Program-started-By-CampusX

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [11]:
x = 'Enter in Celcius: '
F = int(input(x))*(9/5)+32
print('Farenheit value is: '+ str(F))

Enter in Celcius: 20
Farenheit value is: 68.0

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [13]:
input1 = int(input('Type the first number: '))
input2 = int(input('Type the second number: '))
temp = input1
input1 = input2
input2 = temp
print('First number: ' + str(input1))
print('Seconf number: ' + str(input2))

Type the first number: 1
Type the second number: 2
First number: 2
Seconf number: 1

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [14]:
x1 = int(input('Enter the x1-cordinate: '))
x2 = int(input('Enter the x2-cordinate: '))
y1 = int(input('Enter the y1-cordinate: '))
y2 = int(input('Enter the y2-cordinate: '))

E = ((x1-y1)**2 + (x2-y2)**2)**0.5
E

Enter the x1-cordinate: 20
Enter the x2-cordinate: 10
Enter the y1-cordinate: 30
Enter the y2-cordinate: 40

31.622776601683793

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [16]:
p =int(input('Enter the Principal_amount: '))
r = int(input('Enter the rate_of_interest: '))
t = int(input('Enter the time_period: '))

SI = p*r*t
print('Simple Interest is: ' + str(SI))

Enter the Principal_amount: 10
Enter the rate_of_interest: 20
Enter the time_period: 30
Simple Interest is: 6000

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [18]:
H = int(input('no. of heads: '))
L = int(input('no. of legs: '))

c = (L - 2*H)/2
d = H - c

print('no. of chickens: ' + str(c))
print('no. of dogs: ' + str(d))

no. of heads: 4
no. of legs: 12
no. of chickens: 2.0
no. of dogs: 2.0

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [22]:
n = int(input('Enter n: '))
sum = (n*(n+1)*(2*n+1))/ 6
print(sum)

Enter n: 10
385.0

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [23]:
t1 = int(input('Enter the first term: '))
t2 = int(input('Enter the second term: '))

d = t2-t1
n = int(input('Enter the nth position: '))
tn = t1+(n-1)*d
print(tn)

Enter the first term: 2
Enter the second term: 5
Enter the nth position: 10
29

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [28]:
f1_num = int(input('Enter first fraction numerator: '))
f1_den = int(input('Enter first fraction denominator: '))
f2_num = int(input('Enter second fraction numerator: '))
f2_den = int(input('Enter second fraction denominator: '))

f1 = f1_num/f1_den
f2 = f2_num/f2_den

f = f1+f2

print(f)
type(f)

Enter first fraction numerator: 1
Enter first fraction denominator: 20
Enter second fraction numerator: 3
Enter second fraction denominator: 20
0.2

float

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [31]:
L = int(input('Enter the Length of tank: '))
B = int(input('Enter the Breadth of tank: '))
H = int(input('Enter the Height of tank: '))
r = int(input('Enter the radius of glass: '))
h = int(input('Enter the height of glass: '))

V_tank = L*B*H
V_glass = 3.14*r**2*H
no_of_glasses = V_tank/V_glass
print(no_of_glasses)

Enter the Length of tank: 20
Enter the Breadth of tank: 20
Enter the Height of tank: 20
Enter the radius of glass: 1
Enter the height of glass: 3
127.38853503184713